apiVersion: v1
kind: ConfigMap
metadata:
  name: vault-config
  namespace: vault
  labels:
    app.kubernetes.io/name: vault
    app.kubernetes.io/instance: vault
data:
  vault.hcl: |
    ui = true
    
    listener "tcp" {
      address = "0.0.0.0:8200"
      cluster_address = "0.0.0.0:8201"
      tls_disable = 1
    }
    
    storage "file" {
      path = "/vault/file"
    }
    
    seal "gcpckms" {
      project     = "your-gcp-project"
      region      = "global"
      key_ring    = "vault-key-ring"
      crypto_key  = "vault-unseal-key"
    }
    
    api_addr = "http://$(POD_IP):8200"
    cluster_addr = "https://$(HOSTNAME).vault:8201"
    
    disable_mlock = true
    
    telemetry {
      statsd_address = "localhost:8125"
    }
    
    plugin_directory = "/vault/plugins"