apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "vault.fullname" . }}-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "vault.labels" . | nindent 4 }}
data:
  vault.hcl: |
    ui = {{ .Values.config.ui }}
    
    listener "tcp" {
      address = "{{ .Values.config.listener.tcp.address }}"
      cluster_address = "{{ .Values.config.listener.tcp.cluster_address }}"
      tls_disable = {{ .Values.config.listener.tcp.tls_disable }}
    }
    
    storage "{{ .Values.config.storage.type | default "file" }}" {
      {{- if eq .Values.config.storage.type "file" }}
      path = "{{ .Values.config.storage.file.path }}"
      {{- else if eq .Values.config.storage.type "gcs" }}
      bucket = "{{ .Values.config.storage.gcs.bucket }}"
      {{- end }}
    }
    
    {{- if .Values.config.seal }}
    seal "{{ .Values.config.seal.type | default "gcpckms" }}" {
      {{- if eq .Values.config.seal.type "gcpckms" }}
      project     = "{{ .Values.config.seal.gcpckms.project }}"
      region      = "{{ .Values.config.seal.gcpckms.region }}"
      key_ring    = "{{ .Values.config.seal.gcpckms.key_ring }}"
      crypto_key  = "{{ .Values.config.seal.gcpckms.crypto_key }}"
      {{- end }}
    }
    {{- end }}
    
    api_addr = "{{ .Values.config.api_addr }}"
    cluster_addr = "{{ .Values.config.cluster_addr }}"
    
    disable_mlock = {{ .Values.config.disable_mlock }}
    
    {{- if .Values.config.telemetry }}
    telemetry {
      statsd_address = "{{ .Values.config.telemetry.statsd_address }}"
    }
    {{- end }}
    
    {{- if .Values.config.plugin_directory }}
    plugin_directory = "{{ .Values.config.plugin_directory }}"
    {{- end }}